services:
  - type: web
    name: MYE-COMMERCE-WEBSITE
    env: static
    buildCommand: npm install && npm run build
    staticPublishPath: dist
    rootDir: frontend
    routes:
      - type: rewrite
        source: /*
        destination: /index.html