
.banner-slider {
  width: 100%;
  height: 600px;

  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  position: relative;
  overflow: hidden;
}

.banner-overlay {
  width: 100%;
  height: 100%;

  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.75) 0%,
    rgba(0, 0, 0, 0.45) 50%,
    rgba(0, 0, 0, 0.15) 100%
  );

  display: flex;
  align-items: center;
}

.banner-content {
  max-width: 700px;
  padding: 60px;
  color: #ffffff;
  margin-top: 250px;
}

.banner-content h1 {
  font-size: 46px;
  font-weight: 800;
  margin-bottom: 15px;
  line-height: 1.2;
}

.banner-content p {
  font-size: 19px;
  line-height: 1.6;
  margin-bottom: 26px;
  opacity: 0.95;
}

.banner-btn {
  display: inline-block;
  padding: 14px 32px;
  background: maroon;
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.banner-btn:hover {
  background: rgba(128, 0, 0, 0.466);
  transform: translateY(-1px);
}


@media (max-width: 768px) {
  .banner-slider {
    height: 340px;
  }

  .banner-content {
    padding: 30px;
  }

  .banner-content h1 {
    font-size: 30px;
  }

  .banner-content p {
    font-size: 15px;
  }
}


