.features-wrapper {
  max-width: 100%;
  margin: 30px auto;
  background: #ffffff;
  padding: 50px 40px;
  border-radius: 14px;
  text-align: center;
  
}

.features-wrapper h2 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 40px;
}

.features-box {
  display: flex;
  gap: 70px;
  justify-content: center;
  margin-bottom: 30px;
}

.feature-item {
  max-width: 260px;
}

.feature-icon {
  font-size: 34px;
  margin-bottom: 15px;
}

.feature-item h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.feature-item p {
  font-size: 14px;
  color: #666;
  line-height: 1.6;
}

.features-btn {
  padding: 10px 24px;
  background: #2563eb;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
}
