
.promo-grid {
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;  
  background-color: transparent;
  padding: 0 15px;

}
.promo-card {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  min-height: 360px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 35px;
  background-size: cover;    
  background-position: center; 
  background-repeat: no-repeat; 
  margin-top: 30px;
}

.promo-overlay {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.35);
  z-index: 1;
}

.promo-content {
  position: relative;
  top: 70px;
  z-index: 2; 
  max-width: 55%;

}

.promo-badge {
  background: #22c55e;
  color: #000;
  padding: 5px 12px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 600;
  display: inline-block;
  margin-bottom: 10px;
}

.promo-content h3 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 10px;
}

.promo-content p {
  font-size: 15px;
  color: #e5e7eb;
  margin-bottom: 20px;
}

.promo-btn {
  background: transparent;
  color: #ffffff;
  padding: 12px 26px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
  border: 2px solid black;
}

.promo-btn:hover {
  background: rgb(0, 0, 0);
  border: 2px solid white;
}

.style-1 { background-color: #020617; }
.style-2 { background-color: #111827; }
.style-3 { background-color: #be185d; }
.style-4 { background-color: #16a34a; }

@media (max-width: 900px) {
  .promo-grid {
    grid-template-columns: 1fr;
  }

  .promo-card {
    flex-direction: column;
    text-align: center;
    padding: 30px 20px;
  }

  .promo-content {
    max-width: 100%;
  }
}