/* ===============================
   STEPS TRACKER (DESKTOP DEFAULT)
==================================*/
.steps-tracker {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  gap: 100px;
  flex-wrap: wrap;
}

.step {
  display: flex;
  align-items: center;
  position: relative;
  cursor: default;
  color: #9ca3af;
}

.step-number {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #d1d5db;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 14px;
  z-index: 2;
  transition: 0.3s ease;
}

.step-label {
  margin-left: 10px;
  margin-right: 20px;
  font-size: 14px;
  white-space: nowrap;
}

.step-line {
  position: absolute;
  top: 16px;
  left: calc(100% + 8px);
  height: 3px;
  width: 80px;
  background-color: #d1d5db;
  z-index: 1;
}

/* ACTIVE */
.step.active .step-number,
.step.completed .step-number {
  background-color: #000;
  color: #fff;
}

.step.active .step-label,
.step.completed .step-label {
  color: #000;
  font-weight: 600;
}

.step.completed .step-line {
  background-color: #000;
}

/* =================================
        TABLET RESPONSIVE
=================================*/
@media (max-width: 1024px) {
  .steps-tracker {
    gap: 50px;
  }

  .step-line {
    width: 50px;
  }
}

/* =================================
        MOBILE RESPONSIVE
=================================*/
@media (max-width: 768px) {

  .steps-tracker {
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    margin-left: 20px;
  }

  .step {
    flex-direction: row;
    align-items: center;
  }

  /* Make line vertical */
  .step-line {
    position: absolute;
    left: 16px;
    top: 36px;
    width: 3px;
    height: 40px;
  }

  .step-label {
    white-space: normal;
  }
}

/* =================================
        SMALL MOBILE
=================================*/
@media (max-width: 480px) {

  .steps-tracker {
    margin: 30px 0;
    gap: 25px;
    margin-top:70px;
  }

  .step-number {
    width: 28px;
    height: 28px;
    font-size: 12px;
  }

  .step-label {
    font-size: 13px;
  }

  .step-line {
    height: 35px;
  }
}