.steps-tracker {
  display: flex;
  justify-content: center;
  margin:50px 0 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  gap: 100px;
}

.step {
  display: flex;
  align-items: center;
  position: relative;
  cursor: default;
  color: #9ca3af; 
}

.step-number {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #d1d5db; 
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 14px;
  z-index: 1;
  transition: background-color 0.3s;
}

.step-label {
  margin-left: 8px;
  margin-right: 16px;
  font-size: 14px;
  white-space: nowrap;
}

.step-line {
  position: absolute;
  top: 14px;
  left: calc(100% + 8px);
  height: 3px;
  width: 70px;
  background-color: #d1d5db;
  z-index: 0;
}

.step.active .step-number {
  background-color: #000000; 
  color: white;
}

.step.active .step-label {
  color: #000000;
  font-weight: 600;
}

.step.completed .step-number {
  background-color: #000000; 
  color: white;
}

.step.completed .step-label {
  color: #000000;
  font-weight: 600;
}

.step.completed .step-line {
  background-color: #000000;
}
