html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  /* background: #ffffff; */
  color: #333;
  scroll-behavior: smooth;
}

